@model Reservea.Common.Mails.Models.ResetPasswordMailTemplateModel

<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>
        Resetowanie hasła
    </title>
</head>
<body>
    <p>
        Witaj @Model.Name,
    </p>
    <p>
        dla twojego konta została wysłana prośba o zresetowanie hasła. Możesz to zrobić poniższym linkiem: <br />
        <a href="@Model.ResetPasswordUrl">Resetuj hasło</a> <br /> <br />
        Jeżeli to nie ty wysłałeś prośbę, zignoruj tę wiadomość.
    </p>
</body>
</html>