/* Hover tab */
.customPillsColors a:hover {
    background-color: #303235;
    color: rgb(233, 233, 233);
}
/* Active tab */
.customPillsColors a.active
{
    background-color: rgb(42, 89, 116) !important;
    color: rgb(233, 233, 233)!important;
}
/* Inactive tab */
.customPillsColors a {
    background-color:#343a40;
    color: darkgray;
}

.contentDiv {
    background-color:#343a40;
    color:rgb(233, 233, 233);
}
